{% extends 'base.html' %}

{% block title %}Compay Name{% endblock %}

{% block content %}

<div class="mx-auto" style="width: 350px;">
<div class="card" style="width: 22rem;">
  {% if messages %}  
    {% for i in messages %}
    <div class="alert alert-success" role="alert">
        {{ i }}
      </div>
    {% endfor %}
    {% endif %}

    <div class="card-body">

      <h5 class="card-title font-weight-bold">{{ request.user.username }}</h5>
      <table class="table">
          
          <tbody>
            <tr>
              
              <td>username</td>
              <td>{{ request.user.username }}</td>
              
            </tr>
            <tr>
              
              <td>First Name</td>
              <td>{{ request.user.first_name }}</td>
              
            </tr>
            <tr>
              
              <td>Last Name</td>
              <td>{{ request.user.last_name }}</td>
              
            </tr>
            <tr>
              
                <td>Email ID</td>
                <td>{{ request.user.email }}</td>
                
              </tr>
              {% if profile %}
              <tr>
              
                  <td>Teacher/Parent</td>
                  <td>{{ profile.Teacher_or_Parent }}</td>
                  
                </tr>
                <tr>
              
                    <td>Contact Number</td>
                    <td>{{ profile.contactNumber }}</td>
                    
                  </tr>
                {% endif %}
            <tr>
              
                <td>Date of Joining</td>
                <td>{{ request.user.date_joined|timesince }}</td>
                
              </tr>
              <tr>
              
                  <td>Last Login</td>
                  <td>{{ request.user.last_login|timesince }}</td>
                  
                </tr>
                
                <tr>
                  <td colspan="2">
                      <a href="{% url 'editProfile' %}" class="btn btn-primary">Edit Profile</a>
                  </td>
                </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
{% endblock %}